.table-container {
  overflow-x: auto;
  padding: 20px;
}

table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.table-error-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
}

th,
td {
  text-align: center;
  height: 70px;
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background: black;
  color: rgb(18, 219, 206);
}

tr:nth-child(even) {
  background-color: rgb(61, 60, 60);
}

tr:hover {
  background-color: black;
  color: rgb(18, 219, 206);
}

.no-data {
  text-align: center;
  font-size: 18px;
  background: black;
  color: blue;
  padding: 20px;
}
